doctype html
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet")
    style
        include ../style.css
    title Greenhouse
body
    if errorMessage
        div(class='error') #{errorMessage}
    div(class='container')
        div(class="marqee")
            
            h1 Apprehenchmen
            div(class="add" id='addtier') Add a Tier
                div(class='addbox hidden')
                    form(method='POST' action='')
                        label(for='tierName') Tier Name:
                        input(type='text' name='tierName' required='true' value='')
                        input(type='hidden' name='dataID' value='tier-0')
                        button(type='submit') OK
        hr 
        each tier in tiers
            div(class="row tier" id=tier.id)
                div(class="marqee")
                    div(class='row-name')
                        img(class='arrow' src='right-arrow.svg' id=('arrow-' + tier.id))
                        h2 #{tier.name}
                    div(class="add" id=('addtitle-' + tier.id)) Add a Song to this Tier
                        div(class='addbox hidden')
                            form(method='POST' action='')
                                label(for='titleName') Title:
                                input(type='text' name='titleName' required='true' value='')
                                input(type='hidden' name='dataID' value='title-' + tier.id)
                                button(type='submit') OK
                        div
                            a(class = 'delete' href=('/delete/tier/' + tier.id)) delete
                hr
                div(class='titlecontainer hidden' id=('title-' + tier.id))
                    each title in tier.trackList
                        div(class="row title" id=title.id)
                            div(class="marqee")
                                div(class='row-name')
                                    img(class='arrow' src='right-arrow.svg' id=('arrow-' + title.id))
                                    h3 #{title.title}
                                div(class="add" id=('addversion-' + title.id)) Add a New Version
                                    div(class='addbox hidden')
                                        form(method='POST' action='' id='versionform')
                                            label(for='versionName') Name:
                                            input(type='text' name='versionName' required='true' value='')
                                            label(for='versionName') Version Notes:
                                            input(type='textarea' name='versionNotes' value='')
                                            input(type='hidden' name='dataID' value='version-' + title.id)
                                            button(type='submit') OK
                                    div
                                        a(class = 'delete' href=('/delete/title/' + title.id + '/' + tier.id)) delete
                            div(class='versioncontainer hidden' id=('version-' + title.id))
                                each version in title.versions
                                    div(class="row version" id=version.id)
                                        div(class='marqee')
                                            div(class='row-name')
                                                img(class='arrow' src='right-arrow.svg' id=('arrow-' + version.id))
                                                h3 Version: #{version.name}
                                            div(class="add" id='addbounce-' + version.id) Add a New Bounce
                                                div(class='addbox bounce hidden')
                                                    form(method='POST' action='' id='songform' encType="multipart/form-data")
                                                        label(for='songFile') File:
                                                        br
                                                        input(type='file' name='songFile' required='true' class='inputfile')
                                                        br
                                                        label(for='songDate') Date:
                                                        br
                                                        input(type='date' name='songDate' required='true')
                                                        br
                                                        label(for='songComments') Comments:
                                                        br
                                                        input(type='textarea' name='songComments' value='')
                                                        br
                                                        label(for="songLatest") Latest
                                                        input(type="checkbox" name="songLatest" checked)
                                                        p
                                                        input(type='hidden' name='dataID' value='song-' + version.id)
                                                        button(type='submit') OK
                                                div
                                                    a(class = 'delete' href=('/delete/version/' + version.id + '/' + title.id)) delete
                                        if version.songs.length > 0     
                                            div(class="row song-con hidden"  id=('song-' + version.id))
                                                div(class="row song")
                                                    - const thisSong = version.songs.find(s => s.latest)
                                                    - const displayDate = moment(thisSong.date).format('MM/DD/YY')
                                                    h5 #{displayDate}
                                                    audio(controls src='/audio/' + thisSong.id + '.mp3' class='player')
                                                    div(class="comments")
                                                        p Comments: #{thisSong.comments}
                                                form(class="row older" method='POST' action='/changelatest')
                                                    input(type='hidden' name='currentLatest' value=thisSong.id)
                                                    label(for='oldselect') change current bounce:   
                                                    select(name="newLatest" onchange='this.form.submit()')
                                                        option(value='placeholder' selected) ---
                                                        - const songDates = version.songs.map(s => moment(s.date).format('YY/MM/DD') + s._id).sort().reverse()
                                                        - const formattedDates = songDates.map(d => d[3]+d[4]+'/'+d[6]+d[7]+'/'+d[0]+d[1] + d.slice(8))
                                                        each date in formattedDates
                                                            option(value=date.slice(8)) #{date.slice(0,8)}
                                else
                                    p Somehow no versions of this song.
                    else
                        p(class='row title') No songs in this tier.
        else
            p(class='row tier') There are no tiers.                       
    script
        include ../index.js