doctype html
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet")
    style
        include ../static/style.css
    title Exploring the Space
body
    div(class='upload-container hidden')
        div(class='upload-progress')
            div(class='upload-image')
                p Uploading...
                img(class='windmill' src='windmill.gif')
    div(id='player-spot' class='hidden')
   
    div(class='container')
        if errorMessage
            div(class='error') #{errorMessage}
        div(class='playbar')
            div(class='playbar-header')
                p(id='currentsongheader' class='playbar-title')                
                div(class='playbar-info')
                    p(id='currentversion')
                    p(id='currentdate')         
            div(class='playslidercontainer')
                div(class='playslidertime' id='playcurrenttime')
                input(type="range" min="0" max="1000" value="0" class='playslider' id="playslider")
                div(class='playslidertime' id='playtotaltime') 
        
        div(class="marqee header")            
            h1(id="band-name") #{band.name}
            img(class='pausebutton hidden' src='pause.svg' id='pause')
            img(class='unpause hidden' src='play.svg' id='unpause')
            div(class="slidecontainer")
                input(type="range" min="0" max="100" value="50" class="master-volume" id="mastervol")

            
        hr

        each tier in band.tiers
            div(class="row tier" id=tier.id)
                div(class="marqee tier-info")
                    div(class='tier-name')
                        img(class='arrow' src='right-arrow.svg' id=('arrow-' + tier.id))
                        h2 #{tier.name}  
                        div(class="add" id=('addtitle-' + tier.id))
                            img(src='add.png')
                            div(class='addbox hidden')
                                h3 Add a Song
                                form(method='POST' action=band.name class='add-form')
                                    label(for='titleName') Title:
                                    input(type='text' spellcheck='false' name='titleName' required='true' value='')
                                    input(type='hidden' name='dataID' value='title-' + tier.id)
                                    button(type='submit') OK
                    div(class='playcontainer')
                        div(class='song-count') #{tier.trackList.length} songs
                        div(class='song-count' id='tiertime'+tier.id)
                    div(class='tier-display')
                        div(class="edit" id=('edittier-' + tier.id))
                            img(src='edit.png')
                            div(class='addbox hidden')
                                h3 Edit #{tier.name}
                                form(method='POST' class='add-form' action=band.name + '/edit')
                                    label(for='tierName') Tier Name:
                                    input(type='text' spellcheck='false' name='tierName' required='true' value=tier.name)
                                    label(for='tierPosition') Tier Position:
                                    select(name='tierPosition')
                                        option(selected disabled value=tier.position) #{tier.position}
                                        each item in band.tiers
                                            option(value=item.position) #{item.position}
                                    input(type='hidden' name='dataID' value='tier-' + tier.id)
                                    p
                                    button(type='submit') OK
                        
                        form(class='hidden' action=band.name + '/delete' method="POST" id='delete-' + tier.id + '-form')
                            input(type='hidden' name='id' value=tier.id)
                            input(type='hidden' name='rowtype' value='tier')
                        img(src='delete.png' class='delete' id='delete-' + tier.id)
                hr
                div(class='titlecontainer hidden' id=('title-' + tier.id))
                    each title in tier.trackList
                        div(class="row title" id=title.id)
                            div(class='title-margin')
                                div(class="marqee")
                                    div(class='row-name')
                                        img(class='arrow' src='right-arrow.svg' id=('arrow-' + title.id))
                                        div(class='name-spot' id='name-spot-'+title.id)
                                            h3 #{title.title}
                                    div(class='playcontainer')
                                        if title.versions.length > 0
                                            - const thisVersion = title.versions.find(v => v.current)
                                            if thisVersion.songs.length > 0
                                                - const thisSong = thisVersion.songs.find(s => s.latest)
                                                - const displayDate = moment.utc(thisSong.date).format('MM/DD/YY')
                                                - const minutes = Math.floor(thisSong.duration / 60)
                                                - const seconds = Math.floor(thisSong.duration % 60) < 10 ? '0' + Math.floor(thisSong.duration % 60) : Math.floor(thisSong.duration % 60)
                                                - const displayTime = `${minutes}:${seconds}`
                                                div(class='hidden' id='mp3Id-' + title.id)  #{thisSong.id}
                                                div(class='songtime' id='duration-' + title.id + '-' + tier.id) #{displayTime}
                                                div(class='playbutton' id=thisSong.id + '-' + tier.id)
                                                    img(src='play.svg' class='playicon')
                                                div(class='title-display')
                                                    p #{thisVersion.name}
                                                    p #{displayDate}
                                    div(class='tier-display')
                                        div(class="edit" id=('edittitle-' + title.id))
                                            img(src='edit.png')
                                            div(class='addbox hidden')
                                                h3 Edit #{title.title}
                                                form(method='POST' action=band.name + '/edit' class='add-form')
                                                    label(for='titleName') Title:
                                                    input(type='text' spellcheck='false' name='titleName' required='true' value=title.title)
                                                    label(for='moveTier') Change Tier:
                                                    select(name='moveTier')
                                                        option(selected value=tier.id) #{tier.name}
                                                        if band.tiers.length > 1
                                                            - let tierlist = band.tiers.filter(t => t.id !== tier.id)
                                                            each otherTier in tierlist
                                                                option(value=otherTier.id) #{otherTier.name}
                                                    br
                                                    br                                 
                                                    input(type='hidden' name='dataID' value='title-' + title.id)
                                                    input(type='hidden' name='parentID' value=tier.id)
                                                    button(type='submit') OK
                                        form(class='hidden' action=band.name + '/delete' method="POST" id='delete-' + title.id + '-form')
                                            input(type='hidden' name='id' value=title.id)
                                            input(type='hidden' name='parentid' value=tier.id)
                                            input(type='hidden' name='rowtype' value='title')
                                        img(src='delete.png' class='delete' id='delete-' + title.id)
    
                                div(class='versioncontainer hidden' id=('version-' + title.id))
                                    if title.versions.length > 0 
                                        div(class='detail-box')
                                            div(class='detail-content')
                                                div(class='detail-header')
                                                    - const thisVersion = title.versions.find(v => v.current)
                                                    - const versionList = title.versions.filter(v => v.current !== true).map(v => [v.name, v.id])
                                                    
                                                    h5 Version:       
                                                    div(class='dropdown')
                                                        button(class='dropbtn' id='version-name-'+title.id) #{thisVersion.name}
                                                        div(class='dropdown-content')
                                                            each version in versionList
                                                                - let short = version[0].length > 14 ? version[0].slice(0,20) + '..' : version[0]
                                                                div(class='dropdown-link change-version' id=thisVersion.id + '-' + version[1]) #{short}

                                                div(class='detail-notes') #{thisVersion.notes}   
                                            
                                            div(class='detail-buttons')
                                                div(class="edit" id=('editversion-' + thisVersion.id))
                                                    img(src='edit.png')
                                                    div(class='addbox hidden add-version')
                                                        form(method='POST' action=band.name + '/edit')
                                                            label(for='versionName') Name:
                                                            input(type='text' spellcheck='false' name='versionName' required='true' value=thisVersion.name)
                                                            label(for='versionName') Version Notes:
                                                            input(type='textarea' spellcheck='false' name='versionNotes' value=thisVersion.notes)
                                                            label(for="versionCurrent") Current version
                                                            input(type="checkbox" name="versionCurrent" checked=thisVersion.current ? 'checked' : '')
                                                            input(type='hidden' name='dataID' value='version-' + thisVersion.id)
                                                            button(type='submit') OK
                                                div(class="add" id=('addversion-' + title.id))
                                                    img(src='add.png')
                                                    div(class='addbox hidden add-version')
                                                        form(method='POST' action=band.name)
                                                            label(for='versionName') Name:
                                                            input(type='text' spellcheck='false' name='versionName' required='true' value='')
                                                            label(for='versionName') Version Notes:
                                                            input(type='textarea' spellcheck='false' name='versionNotes' value='')
                                                            label(for="versionCurrent") Current version
                                                            input(type="checkbox" name="versionCurrent" checked)
                                                            input(type='hidden' name='dataID' value='version-' + title.id)
                                                            button(type='submit') OK
                                                form(class='hidden' action=band.name + '/delete' method="POST" id='delete-' + thisVersion.id + '-form')
                                                    input(type='hidden' name='id' value=thisVersion.id)
                                                    input(type='hidden' name='parentid' value=title.id)
                                                    input(type='hidden' name='rowtype' value='version')
                                                img(src='delete.png' class='delete' id='delete-' + thisVersion.id)
                                                


                                        if thisVersion.songs.length > 0     
                                            div(class="detail-box"  id=('song-' + thisVersion.id))
                                                div(class='detail-content')
                                                    div(class='detail-header')
                                                    
                                                        - const thisSong = thisVersion.songs.find(s => s.latest)
                                                        - const displayDate = moment.utc(thisSong.date).format('MM/DD/yy')
                                                        - const songDates = thisVersion.songs.filter(s=> s.latest !== true).map(s => moment.utc(s.date).format('YY/MM/DD') + s.id).sort().reverse()
                                                        - const formattedSongDates = songDates.map(d => d[3]+d[4]+'/'+d[6]+d[7]+'/'+d[0]+d[1] + d.slice(8))

                                                        h5 Date:
                                                        div(class='dropdown')
                                                            button(class='dropbtn' id='bounce-date-'+title.id)  #{displayDate}
                                                            div(class='dropdown-content')
                                                                each date in formattedSongDates
                                                                    - let dateId = date.slice(8)
                                                                    - let dateDisplay = date.slice(0,8)
                                                                    div(class='dropdown-link change-song' id=thisSong.id + '-' + dateId) #{dateDisplay}

                                                    div(class='detail-notes') #{thisSong.comments}    
                                                div(class='detail-buttons')
                                                    div(class="edit" id='editbounce-' + thisSong.id)
                                                        img(src='edit.png')
                                                        div(class='addbox bounce hidden')
                                                            form(method='POST' action=band.name + '/edit' class='fileform' encType="multipart/form-data")
                                                                label(for='songFile') File:
                                                                br
                                                                input(type='file' name='songFile' class='inputfile')
                                                                br
                                                                label(for='songDate') Date:
                                                                br
                                                                input(type='date' name='songDate' required='true' value=moment.utc(thisSong.date).format('YYYY-MM-DD') class='calendar')
                                                                br
                                                                label(for='songComments') Comments:
                                                                br
                                                                input(type='textarea' spellcheck='false' name='songComments' value=thisSong.comments)
                                                                br
                                                                label(for="songLatest") Latest
                                                                input(type="checkbox" name="songLatest" checked=thisSong.latest ? 'checked' : '')
                                                                input(type='hidden' name='dataID' value='song-' + thisSong.id)
                                                                input(type='hidden' name='versionID' value=thisVersion.id)
                                                                button(type='submit') OK
                                                    div(class="add" id='addbounce-' + thisVersion.id)
                                                        img(src='add.png')
                                                        div(class='addbox bounce hidden')
                                                            form(method='POST' action=band.name encType='multipart/form-data' class='fileform' id='bounce-form-' + thisVersion.id)
                                                                label(for='songFile') File:
                                                                br
                                                                input(type='file' name='songFile' required='true' class='inputfile')
                                                                br
                                                                label(for='songDate') Date:
                                                                br
                                                                input(type='date' name='songDate' required='true' class='calendar')
                                                                br
                                                                label(for='songComments') Comments:
                                                                br
                                                                input(type='textarea' spellcheck='false' name='songComments' value='')
                                                                br
                                                                label(for="songLatest") Latest
                                                                input(type="checkbox" name="songLatest" checked)
                                                                input(type='hidden' name='dataID' value='song-' + thisVersion.id)
                                                                button(type='submit') OK          
                                                    form(class='hidden' action=band.name + '/delete' method="POST" id='delete-' + thisSong.id + '-form')
                                                        input(type='hidden' name='id' value=thisSong.id)
                                                        input(type='hidden' name='parentid' value=thisVersion.id)
                                                        input(type='hidden' name='rowtype' value='song')
                                                    img(src='delete.png' class='delete' id='delete-' + thisSong.id)
                                        else
                                            div(class='song-con')
                                                div(class='nosong')
                                                    div(class='song')
                                                        p(class='empty') There are no bounces for this version.
                                                        div(class="add" id='addbounce-' + thisVersion.id)
                                                            img(src='add.png')
                                                            div(class='addbox bounce hidden')
                                                                form(method='POST' action=band.name class='fileform' encType="multipart/form-data")
                                                                    label(for='songFile') File:
                                                                    br
                                                                    input(type='file' name='songFile' required='true' class='inputfile')
                                                                    br
                                                                    label(for='songDate') Date:
                                                                    br
                                                                    input(type='date' name='songDate' required='true' class='calendar')
                                                                    br
                                                                    label(for='songComments') Comments:
                                                                    br
                                                                    input(type='textarea' spellcheck='false' name='songComments' value='')
                                                                    br
                                                                    label(for="songLatest") Latest
                                                                    input(type="checkbox" name="songLatest" checked)
                                                                    input(type='hidden' name='dataID' value='song-' + thisVersion.id)
                                                                    input(type='hidden' name='duration' value='')
                                                                    button(type='submit') OK
                                    else
                                        div(class='noversion')
                                            p(class='empty') No versions of this title.
                                            div(class="add" id=('addversion-' + title.id))
                                                img(src='add.png')
                                                div(class='addbox hidden add-version')
                                                    form(method='POST' action=band.name id='versionform')
                                                        label(for='versionName') Name:
                                                        input(type='text' spellcheck='false' name='versionName' required='true' value='')
                                                        label(for='versionName') Version Notes:
                                                        input(type='textarea' spellcheck='false' name='versionNotes' value='')
                                                        label(for="versionCurrent") Current version
                                                        input(type="checkbox" name="versionCurrent" checked)
                                                        input(type='hidden' name='dataID' value='version-' + title.id)
                                                        button(type='submit') OK
                    else
                        p(class='row notitle empty') No songs in this tier.
        else
            p(class='row tier') There are no tiers.
        div(class="add addtier")
            img(src='add.png')
            div(class='addbox hidden tier-add')
                form(method='POST' action=band.name)
                    label(for='tierName') Tier Name:
                    input(type='text' spellcheck='false' name='tierName' required='true' value='')
                    input(type='hidden' name='dataID' value='tier-0')
                    button(type='submit') OK    
    //- div(class='playlist-container')
    //-     each playlist in playlists
    script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous")
    script
        include ../static/index.js