doctype html
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet")
    style
        include ../static/style.css
    title Exploring the Space
body
    div(class='upload-container hidden')
        div(class='upload-progress')
            div(class='upload-image')
                p Uploading...
                img(class='windmill' src='windmill.gif')
    div(id='player-spot' class='hidden')
    div(class='playbar-background')

    div(class='container')
        if errorMessage
            div(class='error') #{errorMessage}
        div(class='playbar')
            div(class='playbar-header')
                p(id='currentsongheader' class='playbar-title')                
                div(class='playbar-info')
                    p(id='currentversion')
                    p(id='currentdate')         
            div(class='playslidercontainer')
                div(class='playslidertime' id='playcurrenttime')
                input(type="range" min="0" max="1000" value="0" class='playslider' id="playslider")
                div(class='playslidertime' id='playtotaltime') 

        
        div(class="marqee header")
            div(class="band-name")           
                h1(id="band-name") #{band.name}
                if editMode
                    div(class="menu-button")
                        img(src="dots.png")
                        div(class="menu")
                            a(href="/signout") Sign Out
            img(class='pausebutton hidden' src='pause.svg' id='pause')
            img(class='unpause hidden' src='play.svg' id='unpause')
            div(class="slidecontainer")
                input(type="range" min="0" max="100" value="50" class="master-volume" id="mastervol")

            
        hr
        each tier in band.tiers
            div(class="row tier" id=tier.id)
                div(class="marqee tier-info")
                    div(class='tier-name')
                        img(class='arrow' src='right-arrow.svg' id=('arrow-' + tier.id))
                        h2 #{tier.name}
                    div(class='tier-count')
                        if editMode
                            div(class="add" id=('addtitle-' + tier.id))
                                img(src='add.png')
                                div(class='addbox hidden')
                                    h3 Add a Song
                                    form(method='POST' action=band.name class='add-form')
                                        label(for='titleName') Title:
                                        input(type='text' spellcheck='false' name='titleName' required='true' value='')
                                        input(type='hidden' name='dataID' value='title-' + tier.id)
                                        button(type='submit') OK
                        div(class='song-count') #{tier.trackList.length} songs
                        div(class='song-count' id='tiertime'+tier.id)
                    if editMode
                        div(class='tier-display')
                            div(class="add" id=('edittier-' + tier.id))
                                img(src='edit.png')
                                div(class='addbox hidden')
                                    h3 Edit #{tier.name}
                                    form(method='POST' class='add-form' action=band.name + '/edit')
                                        label(for='tierName') Tier Name:
                                        input(type='text' spellcheck='false' name='tierName' required='true' value=tier.name)
                                        label(for='tierPosition') Tier Position:
                                        select(name='tierPosition')
                                            option(selected disabled value=tier.position) #{tier.position}
                                            each item in band.tiers
                                                option(value=item.position) #{item.position}
                                        input(type='hidden' name='dataID' value='tier-' + tier.id)
                                        p
                                        button(type='submit') OK
                            
                            form(class='hidden' action=band.name + '/delete' method="POST" id='delete-' + tier.id + '-form')
                                input(type='hidden' name='id' value=tier.id)
                                input(type='hidden' name='rowtype' value='tier')
                            img(src='delete.png' class='delete' id='delete-' + tier.id)
                hr
            div(class='titlecontainer hidden' id=('title-' + tier.id))
                each title in tier.trackList
                    div(class='title-margin')
                        div(class="row title" id=title.id)
                        
                            div(class="marqee")
                                div(class='row-name')
                                    img(class='arrow' src='right-arrow.svg' id=('arrow-' + title.id))
                                    div(class='name-spot' id='name-spot-'+title.id)
                                        h3 #{title.title}
                                
                                if title.versions.length > 0
                                    - const thisVersion = title.versions.find(v => v.current)
                                    if thisVersion.songs.length > 0
                                        - const thisSong = thisVersion.songs.find(s => s.latest)
                                        div(class='playcontainer')
                                            - const displayDate = moment.utc(thisSong.date).format('MM/DD/YY')
                                            - const minutes = Math.floor(thisSong.duration / 60)
                                            - const seconds = Math.floor(thisSong.duration % 60) < 10 ? '0' + Math.floor(thisSong.duration % 60) : Math.floor(thisSong.duration % 60)
                                            - const displayTime = `${minutes}:${seconds}`
                                            div(class='hidden' id='mp3Id-' + title.id)  #{thisSong.id}
                                            div(class='songtime' id='duration-' + title.id + '-' + tier.id) #{displayTime}
                                            div(class='playbutton' id=thisSong.id + '-' + tier.id)
                                                img(src='play.svg' class='playicon')
                                            div(class='title-display')
                                                p #{thisVersion.name}
                                                p #{displayDate}
                                        if editMode
                                            div(class='tier-display')
                                                if band.playlists.length > 0
                                                    div(class="add")
                                                        img(src='playlist.png') 
                                                        div(class='addbox hidden')
                                                            h3 Add to Playlist
                                                            form(method='POST' action=band.name + '/create-playlist-song' class='add-form')
                                                                select(name='playlistId') 
                                                                    each playlist in band.playlists
                                                                        option(value=playlist.id) #{playlist.name}
                                                                input(type="hidden" name="title" value=title.id)
                                                                input(type="hidden" name="version" value=thisVersion.id)
                                                                input(type="hidden" name="bounce" value=thisSong.id)
                                                                button(type='submit') OK

                                                div(class="add" id=('edittitle-' + title.id))
                                                    img(src='edit.png')
                                                    div(class='addbox hidden')
                                                        h3 Edit #{title.title}
                                                        form(method='POST' action=band.name + '/edit' class='add-form')
                                                            label(for='titleName') Title:
                                                            input(type='text' spellcheck='false' name='titleName' required='true' value=title.title)
                                                            label(for='moveTier') Change Tier:
                                                            select(name='moveTier')
                                                                option(selected value=tier.id) #{tier.name}
                                                                if band.tiers.length > 1
                                                                    - let tierlist = band.tiers.filter(t => t.id !== tier.id)
                                                                    each otherTier in tierlist
                                                                        option(value=otherTier.id) #{otherTier.name}
                                                            br
                                                            br                                 
                                                            input(type='hidden' name='dataID' value='title-' + title.id)
                                                            input(type='hidden' name='parentID' value=tier.id)
                                                            button(type='submit') OK
                                                form(class='hidden' action=band.name + '/delete' method="POST" id='delete-' + title.id + '-form')
                                                    input(type='hidden' name='id' value=title.id)
                                                    input(type='hidden' name='parentid' value=tier.id)
                                                    input(type='hidden' name='rowtype' value='title')
                                                img(src='delete.png' class='delete' id='delete-' + title.id)
                                        else
                                            div(class='download')
                                                a(href="/audio/download/" + thisSong.id + ".mp3" download=title.title+'-'+moment.utc(thisSong.date).format('MM-DD-yy') +'.mp3')
                                                    img(src="download.svg")

                        div(class='versioncontainer hidden' id=('version-' + title.id))
                            if title.versions.length > 0 
                                div(class='detail-box')
                                    div(class='detail-content')
                                        div(class='detail-header')
                                            - const thisVersion = title.versions.find(v => v.current)
                                            - const versionList = title.versions.filter(v => v !== thisVersion).map(v => [v.name, v.id])
                                            
                                            h5 Version:       
                                            div(class='dropdown')
                                                button(class='dropbtn' id='version-name-'+title.id) #{thisVersion.name}
                                                div(class='dropdown-content')
                                                    each version in versionList
                                                        div(class='dropdown-link change-version' id=thisVersion.id + '-' + version[1]) #{version[0]}

                                        div(class='detail-notes') #{thisVersion.notes}   
                                    if editMode
                                        div(class='detail-buttons')
                                            div(class="add" id=('editversion-' + thisVersion.id))
                                                img(src='edit.png')
                                                div(class='addbox hidden left-box add-version')
                                                    h3 Edit this Version
                                                    form(method='POST' action=band.name + '/edit')
                                                        label(for='versionName') Name:
                                                        input(type='text' spellcheck='false' name='versionName' required='true' value=thisVersion.name)
                                                        label(for='versionName') Version Notes:
                                                        input(type='textarea' spellcheck='false' name='versionNotes' value=thisVersion.notes)
                                                        label(for="versionCurrent") Current version
                                                        input(type="checkbox" name="versionCurrent" checked=thisVersion.current ? 'checked' : '')
                                                        input(type='hidden' name='dataID' value='version-' + thisVersion.id)
                                                        button(type='submit') OK
                                            div(class="add" id=('addversion-' + title.id))
                                                img(src='add.png')
                                                div(class='addbox hidden add-version')
                                                    h3 Add a Version
                                                    form(method='POST' action=band.name)
                                                        label(for='versionName') Name:
                                                        input(type='text' spellcheck='false' name='versionName' required='true' value='')
                                                        label(for='versionName') Version Notes:
                                                        input(type='textarea' spellcheck='false' name='versionNotes' value='')
                                                        label(for="versionCurrent") Current version
                                                        input(type="checkbox" name="versionCurrent" checked)
                                                        input(type='hidden' name='dataID' value='version-' + title.id)
                                                        button(type='submit') OK
                                            form(class='hidden' action=band.name + '/delete' method="POST" id='delete-' + thisVersion.id + '-form')
                                                input(type='hidden' name='id' value=thisVersion.id)
                                                input(type='hidden' name='parentid' value=title.id)
                                                input(type='hidden' name='rowtype' value='version')
                                            img(src='delete.png' class='delete' id='delete-' + thisVersion.id)
                                            


                                if thisVersion.songs.length > 0     
                                    div(class="detail-box"  id=('song-' + thisVersion.id))
                                        div(class='detail-content')
                                            div(class='detail-header')
                                            
                                                - const thisSong = thisVersion.songs.find(s => s.latest)
                                                - const displayDate = moment.utc(thisSong.date).format('MM/DD/yy')
                                                - const songDates = thisVersion.songs.filter(s=> s.latest !== true).map(s => moment.utc(s.date).format('YY/MM/DD') + s.id).sort().reverse()
                                                - const formattedSongDates = songDates.map(d => d[3]+d[4]+'/'+d[6]+d[7]+'/'+d[0]+d[1] + d.slice(8))

                                                h5 Date:
                                                div(class='dropdown')
                                                    button(class='dropbtn' id='bounce-date-'+title.id)  #{displayDate}
                                                    div(class='dropdown-content')
                                                        each date in formattedSongDates
                                                            - let dateId = date.slice(8)
                                                            - let dateDisplay = date.slice(0,8)
                                                            div(class='dropdown-link change-song' id=thisSong.id + '-' + dateId) #{dateDisplay}

                                            div(class='detail-notes') #{thisSong.comments}    

                                        if editMode
                                            div(class='detail-buttons')
                                                div(class="add" id='editbounce-' + thisSong.id)
                                                    img(src='edit.png')
                                                    div(class='addbox bounce left-box hidden')
                                                        h3 Edit this Bounce
                                                        form(method='POST' action=band.name + '/edit' class='fileform' encType="multipart/form-data")
                                                            label(for='songFile') File:
                                                            br
                                                            input(type='file' name='songFile' class='inputfile')
                                                            br
                                                            label(for='songDate') Date:
                                                            br
                                                            input(type='date' name='songDate' required='true' value=moment.utc(thisSong.date).format('YYYY-MM-DD') class='calendar')
                                                            br
                                                            label(for='songComments') Comments:
                                                            br
                                                            input(type='textarea' spellcheck='false' name='songComments' value=thisSong.comments)
                                                            br
                                                            label(for="songLatest") Latest
                                                            input(type="checkbox" name="songLatest" checked=thisSong.latest ? 'checked' : '')
                                                            input(type='hidden' name='dataID' value='song-' + thisSong.id)
                                                            input(type='hidden' name='versionID' value=thisVersion.id)
                                                            button(type='submit') OK
                                                div(class="add" id='addbounce-' + thisVersion.id)
                                                    img(src='add.png')
                                                    div(class='addbox bounce hidden')
                                                        h3 Add a New Bounce
                                                        form(method='POST' action=band.name encType='multipart/form-data' class='fileform' id='bounce-form-' + thisVersion.id)
                                                            label(for='songFile') File:
                                                            br
                                                            input(type='file' name='songFile' required='true' class='inputfile')
                                                            br
                                                            label(for='songDate') Date:
                                                            br
                                                            input(type='date' name='songDate' required='true' class='calendar')
                                                            br
                                                            label(for='songComments') Comments:
                                                            br
                                                            input(type='textarea' spellcheck='false' name='songComments' value='')
                                                            br
                                                            label(for="songLatest") Latest
                                                            input(type="checkbox" name="songLatest" checked)
                                                            input(type='hidden' name='dataID' value='song-' + thisVersion.id)
                                                            button(type='submit') OK          
                                                form(class='hidden' action=band.name + '/delete' method="POST" id='delete-' + thisSong.id + '-form')
                                                    input(type='hidden' name='id' value=thisSong.id)
                                                    input(type='hidden' name='parentid' value=thisVersion.id)
                                                    input(type='hidden' name='rowtype' value='song')
                                                img(src='delete.png' class='delete' id='delete-' + thisSong.id)
                                else
                                    div(class='song-con')
                                        div(class='nosong')
                                            div(class='song')
                                                p(class='empty') There are no bounces for this version.
                                                if editMode
                                                    div(class="add" id='addbounce-' + thisVersion.id)
                                                        img(src='add.png')
                                                        div(class='addbox bounce hidden')
                                                            h3 Add a Bounce
                                                            form(method='POST' action=band.name class='fileform' encType="multipart/form-data")
                                                                label(for='songFile') File:
                                                                br
                                                                input(type='file' name='songFile' required='true' class='inputfile')
                                                                br
                                                                label(for='songDate') Date:
                                                                br
                                                                input(type='date' name='songDate' required='true' class='calendar')
                                                                br
                                                                label(for='songComments') Comments:
                                                                br
                                                                input(type='textarea' spellcheck='false' name='songComments' value='')
                                                                br
                                                                label(for="songLatest") Latest
                                                                input(type="checkbox" name="songLatest" checked)
                                                                input(type='hidden' name='dataID' value='song-' + thisVersion.id)
                                                                input(type='hidden' name='duration' value='')
                                                                button(type='submit') OK
                            else
                                div(class='noversion')
                                    p(class='empty') No versions of this title.
                                    if editMode
                                        div(class="add" id=('addversion-' + title.id))
                                            img(src='add.png')
                                            div(class='addbox hidden add-version')
                                                h3 Add a Version
                                                form(method='POST' action=band.name id='versionform')
                                                    
                                                    label(for='versionName') Name:
                                                    input(type='text' spellcheck='false' name='versionName' required='true' value='')
                                                    label(for='versionName') Version Notes:
                                                    input(type='textarea' spellcheck='false' name='versionNotes' value='')
                                                    label(for="versionCurrent") Current version
                                                    input(type="checkbox" name="versionCurrent" checked)
                                                    input(type='hidden' name='dataID' value='version-' + title.id)
                                                    button(type='submit') OK
                else
                    p(class='row notitle empty') No songs in this tier.

        else
            p(class='row tier') There are no tiers.
        if editMode
            div(class="add addtier")
                img(src='add.png')
                div(class='addbox hidden tier-add')
                    h3 Add a Tier
                    form(method='POST' action=band.name)

                        label(for='tierName') Tier Name:
                        input(type='text' spellcheck='false' name='tierName' required='true' value='')
                        input(type='hidden' name='dataID' value='tier-0')
                        button(type='submit') OK
        div(class="playlists")
            h2 Playlists
            hr
            each playlist in band.playlists
                div(class="row tier" id=playlist.id)
                    div(class="marqee tier-info")
                        div(class='tier-name')
                            img(class='arrow' src='right-arrow.svg' id=('arrow-' + playlist.id))
                            h2 #{playlist.name}  
                            //- div(class="add" id=('addtitle-' + playlist.id))
                            //-     img(src='add.png')
                            //-     div(class='addbox hidden')
                            //-         h3 Add a Song
                            //-         form(method='POST' action=band.name + '/create-playlist-song' class='add-form')
                            //-             label(for='titleName') Title:
                            //-             input(type='text' spellcheck='false' name='titleName' required='true' value='')
                            //-             input(type='hidden' name='dataID' value='title-' + playlist.id)
                            //-             button(type='submit') OK
                        div(class='tier-count')
                            div(class='song-count') #{playlist.songs.length} songs
                            div(class='song-count' id='tiertime'+playlist.id)
                        if editMode
                            div(class='tier-display')
                                div(class="add" id=('editplaylist-' + playlist.id))
                                    img(src='edit.png')
                                    div(class='addbox hidden')
                                        h3 Edit #{playlist.name}
                                        form(method='POST' class='add-form' action=band.name + '/change-playlist-position')
                                            label(for='playlistName') Playlist Name:
                                            input(type='text' spellcheck='false' name='playlistName' required='true' value=playlist.name)
                                            label(for='newPosition') Playlist Position:
                                            select(name='newPosition')
                                                option(selected disabled value=playlist.position) #{playlist.position}
                                                - const list = band.playlists.filter(p => p !== playlist)
                                                each item in list
                                                    option(value=item.position) #{item.position}
                                            input(type='hidden' name='playlistId' value=playlist.id)
                                            p
                                            button(type='submit') OK
                                
                                form(class='hidden' action=band.name + '/delete-playlist' method="POST" id='delete-' + playlist.id + '-form')
                                    input(type='hidden' name='playlistId' value=playlist.id)
                                img(src='delete.png' class='delete' id='delete-' + playlist.id)
                    hr
                div(class='titlecontainer hidden' id=('title-' + playlist.id))
                    each song in playlist.songs
                        div(class='title-margin')
                            div(class="title" id=song.id)
                            
                                div(class="marqee")
                                    div(class='row-name')
                                        div(class="song-position") #{song.position}
                                        div(class='name-spot' id='name-spot-'+song.id)
                                            h3 #{song.title.title}
                                    div(class='playcontainer')
                                        

                                        - const displayDate = moment.utc(song.bounce.date).format('MM/DD/YY')
                                        - const minutes = Math.floor(song.bounce.duration / 60)
                                        - const seconds = Math.floor(song.bounce.duration % 60) < 10 ? '0' + Math.floor(song.bounce.duration % 60) : Math.floor(song.bounce.duration % 60)
                                        - const displayTime = `${minutes}:${seconds}`
                                        div(class='hidden' id='mp3Id-' + song.id)  #{song.bounce.id}
                                        div(class='songtime' id='duration-' + song.id + '-' + playlist.id) #{displayTime}
                                        div(class='playbutton' id=song.bounce.id + '-' + playlist.id)
                                            img(src='play.svg' class='playicon')
                                        div(class='title-display')
                                            p #{song.version.name}
                                            p #{displayDate}
                                    if editMode
                                        div(class='tier-display')
                                            div(class="add")
                                                img(src='playlist.png') 
                                                div(class='addbox hidden')
                                                    h3 Add to Playlist
                                                    form(method='POST' action=band.name + '/create-playlist-song' class='add-form')
                                                        select(name='playlistId')
                                                            option(selected disabled value=playlist.id) #{playlist.name}
                                                            - const otherPlaylists = band.playlists.filter(p => p !== playlist)
                                                            each pl in otherPlaylists
                                                                option(value=pl.id) #{pl.name}
                                                        input(type="hidden" name="title" value=song.title.id)
                                                        input(type="hidden" name="version" value=song.version.id)
                                                        input(type="hidden" name="bounce" value=song.bounce.id)
                                                        button(type='submit') OK
                                            div(class="add")
                                                img(src='edit.png')
                                                div(class='addbox hidden')
                                                    h3 Edit #{song.title.title}
                                                    form(method='POST' action=band.name + '/change-position' class='add-form')
                                                        label(for='titleName') Position:
                                                        select(name='newPosition')
                                                            option(selected disabled) #{song.position}
                                                            - const positions = playlist.songs.filter(p => p.position !== song.position)
                                                            each item in positions
                                                                option(value=item.position) #{item.position}
                                                        label(for='newBounce') Bounce:
                                                        select(name='newBounce')
                                                            option(selected disabled)
                                                            each version in song.title.versions
                                                                option(disabled) #{version.name}
                                                                each date in version.songs
                                                                    - const displayDate = moment.utc(date.date).format('MM/DD/YY')
                                                                    option(value=version.id + '-' + date.id) --- #{displayDate}
                                                        input(type='hidden' name='songId' value=song.id)
                                                        button(type='submit') OK
                                            form(class='hidden' action=band.name + '/delete-playlist-song' method="POST" id='delete-' + song.id + '-form')
                                                input(type='hidden' name='songId' value=song.id)
                                                input(type='hidden' name='playlistId' value=playlist.id)
                                            img(src='delete.png' class='delete' id='delete-' + song.id)
            else
                p(class='row tier') There are no playlists.
            if editMode
                div(class="add addtier")
                    img(src='add.png')
                    div(class='addbox hidden tier-add')
                        h3 Add a New Playlist
                        form(method='POST' action=band.name + "/create-playlist")
                            label(for='playlistName') Playlist Name:
                            input(type='text' spellcheck='false' name='playlistName' required='true' value='')
                            button(type='submit') OK    
    script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous")
    script
        include ../static/index.js