doctype html
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet")
    style
        include ../static/style.css
    title Exploring the Space
body
    div(id='player-spot' class='hidden')
    div(class='playbar-background')
    div(class='container')
        if errorMessage
            div(class='error') #{errorMessage}
        div(class='playbar')
            div(class='playbar-header')
                p(id='currentsongheader' class='playbar-title')
                div(class='pause-container')
                    img(class='pausebutton hidden' src='https://exploring-the-space.com/pause.svg' id='pause')
                    img(class='unpause hidden' src='https://exploring-the-space.com/play.svg' id='unpause')           
                div(class='playbar-info')
                    p(id='currentversion')
                    p(id='currentdate')         
            div(class='playslidercontainer')
                div(class='playslidertime' id='playcurrenttime')
                input(type="range" min="0" max="1000" value="0" class='playslider' id="playslider")
                div(class='playslidertime' id='playtotaltime') 

        
        div(class="marqee header")
            div(class="band-name")
                a(href="https://exploring-the-space.com/" + band.name)         
                    h1(id="band-name") #{band.name}

            div(class="slidecontainer")
                input(type="range" min="0" max="100" value="50" class="master-volume" id="mastervol")

            
        hr
        div(class="playlists")

            div(class="tier" id=playlist.id)
                div(class="marqee tier-info")
                    div(class='tier-name')
                        
                        h2 #{playlist.name}  
                        //- div(class="add" id=('addtitle-' + playlist.id))
                        //-     img(src='add.png')
                        //-     div(class='addbox hidden')
                        //-         h3 Add a Song
                        //-         form(method='POST' action=band.name + '/create-playlist-song' class='add-form')
                        //-             label(for='titleName') Title:
                        //-             input(type='text' spellcheck='false' name='titleName' required='true' value='')
                        //-             input(type='hidden' name='dataID' value='title-' + playlist.id)
                        //-             button(type='submit') OK
                    div(class='tier-count')
                        div(class='song-count') #{playlist.songs.length} songs
                        div(class='song-count' id='tiertime'+playlist.id)
                hr
            div(class='titlecontainer' id=('title-' + playlist.id))
                each song in playlist.songs
                    div(class='title-margin')
                        div(class="title" id=song.id)
                        
                            div(class="marqee")
                                div(class='row-name')
                                    div(class="song-position") #{song.position}
                                    div(class='name-spot' id='name-spot-'+song.id)
                                        h3 #{song.title.title}
                                div(class='playcontainer')
                                    

                                    - const displayDate = moment.utc(song.bounce.date).format('MM/DD/YY')
                                    - const minutes = Math.floor(song.bounce.duration / 60)
                                    - const seconds = Math.floor(song.bounce.duration % 60) < 10 ? '0' + Math.floor(song.bounce.duration % 60) : Math.floor(song.bounce.duration % 60)
                                    - const displayTime = `${minutes}:${seconds}`
                                    div(class='hidden' id='mp3Id-' + song.id)  #{song.bounce.id}
                                    div(class='songtime' id='duration-' + song.id + '-' + playlist.id) #{displayTime}
                                    div(class='playbutton' id=song.bounce.id + '-' + playlist.id)
                                        img(src='https://exploring-the-space.com/play.svg' class='playicon')
                                    div(class='title-display')
                                        p #{song.version.name}
                                        p #{displayDate}
                                div(class='download')
                                    a(href="https://exploring-the-space.com/audio/download/" + song.id + ".mp3" download=song.title.title+'-'+moment.utc(song.date).format('MM-DD-yy') +'.mp3')
                                        img(src="https://exploring-the-space.com/download.svg")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous")
    script
        include ../static/index.js